// Mixins usados no meu Sass
@mixin borda-arredondada($raio: 0.3em){ // Mixin criado com parâmetro que possui valor padrão
  -webkit-border-radius: $raio;
  border-radius: $raio;
}

%image-replacement{ // Tirar o texto de um elemento e manter um background
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

%sombra-padrao{ // % = Sass Placeholder
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

/////////////////////////////
// Importações do Compass

@import "compass/css3"; // Para utilizar box-shadow
@import "compass/utilities"; // Para utilizar o border-radius