// Variaveis usadas no meu Sass
$cor-padrao: darken(#c24e4b, 0); //Declaração para darken/lighten(cor, quantidade de 0-100)
$cor-auxiliar: lighten(#1e2c35, 0);
$cor-branca: #fff;
$ponto-de-quebra: 980px;
$mq-mobile: "(max-width: 980px)"; // Alteramos o valor da variável para String "" para poder concatenar na hora de chamá-la | @media #{$mq-mobile}
$tamanho-da-fonte-padrao: 16px; // font-size default do HTML é 16px | EX: 3em = 3*16px